body,
html {
  height: 100%;
  margin: 0 !important;
}
.page {
  background: white;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px;
}

p {
  font-family: system-ui, sans-serif;
  font-size: 12px;
}

a {
  font-family: system-ui, sans-serif;
  color: black;
  font-size: 12px;
}

table{
    width: -webkit-fill-available;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 20px;
    background: rgb(238, 238, 238);
}
