body,
html {
  height: 100%;
  margin: 0 !important;
}
.page {
  background: white;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px;
}

p {
  font-family: system-ui, sans-serif;
  font-size: 12px;
}

a {
  font-family: system-ui, sans-serif;
  color: black;
  font-size: 12px;
}

table{
    width: -webkit-fill-available;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 20px;
    background: rgb(238, 238, 238);
}

nav{
    background: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11);

    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(46, 46, 103);
}

#management a {
    padding: 0px 10px;
}

.error-container {
    display: flex;
    width: max-content;
    width: -webkit-fill-available;
}
  
.error {
    font-family: system-ui, sans-serif;
    color: red;
    margin: 0;
}

.sucess {
    font-family: system-ui, sans-serif;
    color: green;
    margin: 0;
}

#profile{
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 10px;
}

h2 {
  font-family: system-ui, sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-top: 0;
  color: #2f2f2f;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

label {
  font-family: system-ui, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #575656;
}

input {
  font-family: system-ui, sans-serif;
  font-size: 14px;
  color: rgba(255, 115, 127, 1);
  line-height: 1.2;
  border: none;
  border-bottom: 1px #333333 solid;
  background: transparent;
  padding-top: 6px;
  outline: none;
}

button {
  background: radial-gradient(circle, rgba(255,212,231,1) 0%, rgba(187,148,233,1) 100%);
  font-family: system-ui, sans-serif;
  font-size: 14px;
  color: black;
  line-height: 1.2;
  text-transform: uppercase;
  border: none;
  padding: 5px 30px;
  border-radius: 999px;
  margin: 20px 0px;
  width: auto;
}