<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/cart">
                <i class="fa fa-shoppping-cart" aria-hidden="true"></i>Shopping Cart
                <span class="badge">{{session.cart.totalQty}}</span>
            </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/">Shop</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/account">Account</a>
        </li>
    </ul>
    </div>
</nav>