<!DOCTYPE html PUBLIC "HTML 4.01//EN">
<html>

<head>
    <title>E-shop</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/admin.css">
</head>

<body>
    <nav>
        <div id="shop">
            <a href="/users/dashboard">Shopping</a>
        </div>
        <div id="management">
            <a href="">Cart</a>
            <a href="">Account</a>
            <%if(admin.level===0){%>
                <a href="#">Admin</a>
                <%}%>
        </div>
    </nav>
    <div class="page">
        <table id="table">
            <tr>
                <td>id</td>
                <td>name</td>
                <td>email</td>
                <td>level</td>
            </tr>

            <% Object.values(users).forEach(function(user){%>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.level %>
                    </td>
                </tr>
                <%})%>
        </table>
        <p>You have nothing to do here anymore. Please <a href="/users/logout">logout</a></p>
    </div>
</body>

</html>