<!DOCTYPE html PUBLIC "HTML 4.01//EN">
<html>

<head>
    <title>E-shop</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <nav>
        <div id="shop">
            <a href="/users/dashboard">Shopping</a>
        </div>
        <div id="management">
            <a href="">Cart</a>
            <a href="/users/profile">Account</a>
        </div>
    </nav>
    <div class="page">
        <h1>Welcome ✨ <%= user.charAt(0).toUpperCase() + user.slice(1) %> ✨
        </h1>
        <p><a href="/users/logout">Logout</a></p>
    </div>
</body>

</html>